{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Öğrenci Kayıt ve Not Otomasyonu</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Öğrenci Kayıt ve Not Otomasyonu</h1>   
{{ end }}